@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');
:root {}

body {
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
}

div#logo__services__container {
    width: 100%;
    max-width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 20px 0px;
}

nav#services ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

div#logo__services__container>div#logo {
    flex-shrink: 1;
}

div#logo__services__container nav#services {
    margin-left: auto;
}

nav#services ul>li:not(:last-child) {
    margin-right: 30px;
}

.services__blurb {
    display: flex;
    align-items: center;
}

.services__blurb .blurb__icon {
    margin-right: 10px;
}

nav#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav#menu ul>li:not(:last-child) {
    margin-right: 30px;
}

div#our__qualities {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

div#our__qualities>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#plus__infos>* {
    display: flex;
    flex-wrap: wrap;
}

#plus__infos>*>* {
    flex-grow: 1;
}

#plus__infos>* {
    display: flex;
    flex-wrap: wrap;
}

#plus__infos>*>* {
    flex-grow: 1;
}

div#footer__containeer {}

div#footer__containeer>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 80%;
    width: 100%;
    margin: auto;
}

div#footer__copyrights {}

div#footer__copyrights .footer__copyright_links>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    width: 100%;
    margin: auto;
}

div#footer__copyrights .footer__copyright_links>ul>* {
    flex-grow: 1;
}

div#home__products {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80%;
    width: 100%;
    gap: 1em;
}

div#home__products>* {
    text-align: center;
}


/*Menu*/

nav#menu ul li a.active {
    background: #2a3f73;
    color: #fff;
}

nav#menu ul li a {
    text-decoration: none;
    color: #2ec1c7;
    padding: 5px 10px;
    border-radius: 20px;
}


/*Menu*/